{% extends "base.html" %}  
{% block content %}
<div>
        <h1>Detalhe de cliente</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>NOME</th>
                <th>DATA NASCIMENTO</th>
                <th>CPF</th>
                <th>SEXO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.dt_nasc | date:"d/m/Y" }}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.sexo}}</td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}